MONGO_ADMIN=admin
MONGO_PASSWORD=aHR0cHM6Ly95b3V0dS5iZS9kUXc0dzlXZ1hjUT9zaT1VRnlRRDFScTJSYnI0X2R2
MONGO_STORAGE_PATH=.
MONGO_DB_URI=mongodb://admin:aHR0cHM6Ly95b3V0dS5iZS9kUXc0dzlXZ1hjUT9zaT1VRnlRRDFScTJSYnI0X2R2@localhost:27017
SERVER_PORT=3000